alembic==0.7.6
blinker==1.3
flask>=1.0.0
Flask-WTF==0.11
Flask-Bootstrap==3.3.4.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.2.11
Flask-Migrate==1.4.0
Flask-OAuthlib==0.9.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
itsdangerous==0.24
Jinja2>=2.10.1
Mako==1.0.1
MarkupSafe==0.23
MySQL-python==1.2.5
ipaddr==2.1.11
oauthlib==0.7.2
requests>=2.20.0
requests-oauthlib==0.4.2
SQLAlchemy>=1.3.0
SQLAlchemy-Utils==0.30.2
werkzeug>=0.15.3
ansible>=2.6.18
