{% extends "layout.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block content %}
<div class="container">
    <h3>Dashboard</h3>
    <div class="pull-right">
        <a class="btn btn-success btn-sm" href="{{ url_for('project_create') }}" role="button">Create</a>
    </div>
</div>

<div class="container container-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Project</th>
            <th>Branch</th>
            <th>Last deploy</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects.items %}
        <tr>
            <td class="col-md-0">
                {{ project.id }}
            </td>
            <td class="col-md-6">
                <a href="{{ url_for('project', project_id=project.id) }}">{{ project.title }}</a>
            </td>
            <td class="col-md-2">
                {{ project.branch }}
            </td>
            <td class="col-md-2">
                <span class="label label-warning">PENDING</span>
            </td>
            <td class="col-md-2">
                <div class="btn-group">
                    <a href="#" class="btn btn-primary btn-xs">Deploy</a>
                    <a href="#" class="btn btn-default btn-xs dropdown-toggle">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Demo</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Staging</a></li>
                        <li><a href="#">Production</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            {{ render_pagination(projects, size="sm") }}
        </div>
    </div>
</div>
{% endblock %}
